@import "../shared/helper";

.home {
  flex: 1;
  display: flex;
  flex-direction: column;

  > main {
    width: px(2420);
    margin: 0 auto;
    padding: px(74) px(70) px(70) px(70);
    background-size: cover;
    flex: 1;
    display: grid;
    grid-template:
      "box1 box2 box3" 1219fr / 557fr 1133fr 557fr;
    grid-column-gap: px(28);
    grid-row-gap: px(28);

    > section {
      text-align: center
    }

    .bordered {
      border: 1px solid #BDBDBD;
      //border-radius: 10px;
      position: relative;
      box-shadow: 0 0 0.5px 0 #6E6E6E, inset 0 0 0.5px 0 #6E6E6E;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        //border-radius: 10px;
        box-shadow: 17px 0 0 -16px #6E6E6E,
        -17px 0 0 -16px #6E6E6E,
        0 17px 0 -16px #6E6E6E,
        0 -17px 0 -16px #6E6E6E,
        7px 0 0 -6px #565656,
        -7px 0 0 -6px #565656,
        0 7px 0 -6px #565656,
        0 -7px 0 -6px #565656,;
      }
    }

    > .section1 {
      grid-area: box1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section2 {
      grid-area: box2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    > .section3 {
      grid-area: box3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .地, .城, .诗, .流浪地图 {
      height: px(434);
      display: flex;
      flex-direction: column;
      align-items: center;
      .chart {
        background-size: 100%;
        flex: 1;
        width: 100%;
      }
    }

    .城 {
      height: px(370);
    }

    .诗 {
      height: px(382);
    }


    .流浪地图 {
      height: px(820);
      background: transparent;
    }
    .charts {
      width: px(1133);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .水,.木 {
        display: flex;
        width: px(557);
        height: px(382);
        .chart {
          background-size: 100%;
          flex: 1;
          width: 100%;
        }
      }
    }

    .人, .公, .土 {
      height: px(434);
      display: flex;
      flex-direction: column;
      align-items: center;

      .chart {
        background-size: 100%;
        flex: 1;
        width: 100%;
      }
    }

    .人 {
      height: px(434);
    }

    .公 {
      height: px(370);
    }

    .土 {
      height: px(382);
    }
  }
}